@page
@model PersonalDataModel
@{ ViewData["Title"] = "Personal Data";
                ViewData["ActivePage"] = ManageNavPages.PersonalData; }

<div class="card">

    <div class="card-header bg-primary text-center">
        <h4>@ViewData["Title"]</h4>
    </div>
    <div class="card-body bg-dark">
        <div class="row">
            <div class="col-md-6">
       
                <p>
                    <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
                </p>
                <p>
                    <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">Delete</a>
                </p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
